<% current_day = nil %>
<% next_day = false %>
<% hours = 0 %>
<% total = 0 %>

<html>
 <head>
   <style type="text/css">
    <%= style %>
   </style>
 </head>
 <body>
   <table>
     <thead>
       <tr>
         <th>Project Name</th>
         
         <th>Notes</th>
         <th>Hours</th>         
         <th>Amount</th>
     </thead>
     <tbody>
        <% all_entries.each_with_index do |entry, index|  %>          
                
          <% if current_day != Time.parse(entry.created_at).day %>
            <% current_day = Time.parse(entry.created_at).day %>

            <% if hours != 0  %>
            <tr>
              <td></td>
              <td></td>
              <td><b><%= "%.2f" % hours %></b></td>
              <td><b><%= "$%.2f" % total %></b></td>              
            </tr>
            <% total = 0.0 %>
            <% hours = 0 %>
            <% end %>

            <tr>
              <td colspan="4">
                <b><%= Time.parse(entry.created_at).strftime "%b %d, %Y" %></b>
              </td>
            </tr>
          <% end %>    
          
          <tr <%= index % 2 > 0 ? 'class="odd"' : '' %>>
            <td><%= entry.project.name %></td>
            <td><%= entry.notes.gsub(/\n/, '<br/>') %>
            <td><%= entry.hours %></td>
            <td><%= "$%.2f" % entry.amount %></td>
          </tr>
          
          <% total += entry.amount %>
          <% hours += entry.hours.to_f %>
   
         <% end %>
         
         <tr>
           <td></td>
           <td></td>
           <td><b><%= "%.2f" % hours %></b></td>
           <td><b><%= "$%.2f" % total %></b></td>                            
         </tr>

          <tr>
            <td></td>
            <td align="right"><b>Total:</b></td>
            <td><b><%= "%.2f" % total_hours %></b></td>
            <td><b><%= "$%.2f" % total_amount %></b></td>
          </tr>
     </tbody>
    
    </table>
    
    <br/>
    <br/>
    
     <table>
       <thead>
         <tr>
           <th colspan="3">Project Summary Hours</th>
         <tr/>
         <tr>
           <th>Project Name</th>
           <th>Hours</th>          
           <th>Total amount</th>
         <tr/>
       </thead>
       <tbody>
          <% total_hours = 0 %>
          <% projects.each do |project| %>         
          <tr>
            <td>
              <%= project.name %>
            </td>
            <td>
              <% hours = summaries[project.name]["#{Time.at_beginning_of_last_month.year}-#{Time.at_beginning_of_last_month.month}"] %>              
              <% total_hours += hours %>
              <%= "%.2f" % hours %>              
            </td>
            <td><%= "$%.2f" % (hours * summaries[project.name]['hourly_rate']) %> @ $<%= summaries[project.name]['hourly_rate'] %>/hr</td>
          </tr>
          <% end %>                      
           <tr>
            <td><b>Total hours last month:</b></td>         
            <td><%= "%.2f" % total_hours %></td>
          </tr>
            <% total_hours = 0 %>          
            <% projects.each do |project| %>         
            <tr>
              <td>
                <%= project.name %>
              </td>
              <td>
                <% hours = summaries[project.name]["#{Time.now.year}-#{Time.now.month}"] %>
                <% total_hours += hours %>
                <%= "%.2f" % hours %>              
              </td>
              <td><%= "$%.2f" % (hours * summaries[project.name]['hourly_rate']) %> @ $<%= summaries[project.name]['hourly_rate'] %>/hr</td>
            </tr>
            <% end %>         
             <tr>
              <td><b>Total hours this month:</b></td>         
              <td><%= "%.2f" % total_hours %></td>
            </tr>
       </tbody>
    </table>

 </body>
</html>
